/* styles go here */
/* start with the smallest size first (320px) - serve a scaled-down version of the background image for page loading speeds, and bandwidth */

/* The original image is 4460px x 2973px and 950kb. we need to resize to 600px wide and compress to reduce the file size.  */

header {
    padding: 24px;
    margin-bottom: 24px;
    height: 400px;
    background: #eff2f7 url(../img/bg-small.jpg) center center / cover no-repeat;
}

h1 {
    font-size: 40px;
    text-align: center;
}
aside, 
section {
    padding: 60px 0;
    color:  #fff;
    text-align: center;
}

aside:first-of-type {
    background-color: #73a302;
}

section {
    background-color: #334839;
}

aside {
    background-color: #315002;
}
/* As the screen gets wider, the background images stretches to fit and the lower sized image does look good on the screen. We can use nedia queries */
@media only screen and (min-width: 950px){
    header {
        background: url(../img/bg-medium.jpg) center center / cover no-repeat;
        height: 500px;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    aside {
        width: 24%;
    }
    section {
        width: 48%;
    }
}

@media only screen and (min-width: 1500px){
    header {
        background: url(../img/bg-large.jpg) center center / cover no-repeat;
        height: 600px;
    }

    .inner-container {
        width: 1400px;
        margin: 0 auto;
    }
}